* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    font-size: 16px;
}

.btn{
    padding: 12px 24px;
    background: #8B48BF;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
}


/* Header */
.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin: 0 50px;

}

.header-nav, .header-btn {
    display: none;
}

/* Estilos de la noticia de Portada  */

.flex-article {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.article-image{
    width: 100%;
}

.article-text{
    text-align: right;
}

.article-text h1{
    margin: 28px 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 114.6%;
    letter-spacing: -0.035em;
    color: #232C50;
}

.article-text p{
    margin: 28px 0;
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
    color: #000000;
}


.link-first-color:hover {
    background-color: rgba(139, 72, 191, 0.7);
    cursor: pointer;
}

/* Sección de Pregunta */

.flex-subarticle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    background-color: #3CDDF3;
}

.flex-subarticle h2{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 114.6%;
    color: #FFFFFF;
}

.flex-subarticle p{
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%;
    color: #FFFFFF;
}

/* Sección información númerada */

.flex-info {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.info-container {
    margin-left: 34px;
}

.info-header-container {
    background-color: rgba(139, 72, 191, 0.3);
    height: 43px;
    border-radius: 30px 0 0 30px;
    display: flex;
    align-items: center;
}

.info-title-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8B48BF;
    border-radius: 30px;
    width: 69px;
    height: 43px;
    color: #FFFFFF;
}


.info-title-text {
    padding-left: 18px;
}

.info-header-container h3{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
}

.info-body p{
    color: #B3B2B7;
    font-style: normal;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    padding: 31px 31px 31px 10px;
    letter-spacing: -0.01em;
}

/* Sección de tenistas destacados  */

.flex-best {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;

}

.best-title {
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 156.6%;
}

.best-info {
    background-color: #FAFAFA;
    margin: 58px 18px 58px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.best-info img {
    position: absolute;
    top: -35px;
    width: 77.81px;
    height: 71.39px;
}

.best-info h4 {
    margin-top: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 156.6%;
    color: #3F4868;
 }

.best-info p {
   margin: 21px 28px 39px 28px;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 156.6%;
   color: #B9B9C1;
   text-align: center;
}

.best-sec {
    display: none;
}

.btn-more {
    padding-left: 51px;
    padding-right: 51px;
}

/* Sección para conocero los mejores equipos del año */

.flex-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;
    background-color: #3CDDF3;
    padding-bottom: 40px;
}

.flex-bottom h2{
    padding: 40px 80px 50px 80px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.btn-bottom {
    background-color: #232C50;
}

.btn-bottom:hover {
    cursor: pointer;
}

/* Footer */

.flex-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E26;

}

.form-footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 52px 50px 32px 50px;
    justify-content: space-between;
}

.btn-footer {
    width: 63px;
    height: 42px;
}

.input-footer {
    width: 65vw;
    height: 44px;
    border-radius: 50px;
    padding: 12px 24px;
    border: none;
    margin-right: 12px;
}

.input-footer::placeholder{
    color: #A0A0A0;
    font-style: normal;
    font-weight: 600;
    font-size: 13.1806px;
    line-height: 19px;
}

.nav-footer {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.nav-list {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 20px 0;
}

.nav-list li{
    padding: 6px;
    text-decoration: none;
}

.nav-list-a{
    text-decoration: none;
    color: #FFFFFF;
}

.flex-logo-rrss {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.flex-rrss {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 0;
    width: 100%;
}

.logo-footer {
    margin: 25px 0;
    height: 25px;
    width: 107px;
}

.right-footer {
    margin: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;

}

@media screen and (min-width: 1000px) {
    .flex-nav {
        height: 174px;
        margin: 0;
        justify-content: space-around;
    }
    .header-burger {
        display: none;
    }

    .header-nav{
        display: block;
        width: 30%;
    }



    .header-nav ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 176.1%;
    }

    .header-a{
        color: #242E52;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 176.1%;
        text-decoration: none;
    }

    .links:hover{
        color: rgba(36, 46, 82, 0.6);
    }

    .header-btn {
        display: block;
    }

    .flex-article {
        flex-direction: row;
        justify-content: space-around;
        margin: 90px 80px;
    }

    .article-image{
        width: 40%;
    }

    .article-text {
        width: 35%;
    }

    .flex-subarticle {
        background-color: #8B48BF;
        flex-direction: row;
        align-items: center;
        padding-right: 100px;
        padding-left: 100px;
    }

    .flex-subarticle h2 {
        margin-bottom: 0;
        width: 40%;

    }
    .flex-subarticle p {
        width: 40%;
    }

    .flex-info {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 65px;
        margin-top: 0;
        margin-bottom: 97px;
        background-color: #FAFAFA;
    }

    .info-container {
        width: 40%;
    }

    .info-header-container {
        background-color: transparent;
    }

    .info-body p{
        padding: 18px 0 18px 90px;
    }

    .flex-best{
        margin-bottom: 150px;
    }

    .best-sec {
        display: flex;
    }

    .flex-best-container{
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .best-info {
        background-color: #FAFAFA;
        margin: 58px 0px 58px 0px;
    }

    .best-info p{
        margin: 21px 14px 17px 14px;
    }
    
    .flex-bottom {
        flex-direction: row;
        padding: 64px 165px;
        justify-content: space-between;
        background-color: #8B48BF;
    }

    .flex-bottom h2{
        width: 40%;
        text-align: left;
        padding: 0 0;
    }

    .btn-bottom {
        background-color: #FFFFFF;
        color: #8B48BF;
    }

    .flex-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 52px 10%;
        justify-content: space-between;

    }    

    .input-footer{
        width: 15vw;;
    }

    .form-footer-container {
        order: 3;
        width: 25%;
        padding: 0;
        height: 130px;
    }

    .nav-footer {
        order: 2;
        width: 40%;
    }

    .flex-logo-rrss{
        order: 1;
        width: 15%;
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 130px;
        justify-content: space-between;
    }

    .right-footer{
        order: 4;
        width: 100%;
        text-align: end;
        margin: 0;
    }

    .logo-footer{
        margin: 0;
    }

    .flex-rrss{
        margin: 0;
    }

}

